Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

Cleanup: XmlDocumentationFileProhibitedPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileProhibitedPolicy.cs
Labels: none

Cleanup: XmlDocumentationFileRequiredPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileRequiredPolicy.cs
Labels: none

Cleanup: PackageReference.cs
  src/FunFair.BuildCheck.ProjectChecks/Models/PackageReference.cs
Labels: none

Cleanup: CheckRunnerLoggingExtensions.cs
  src/FunFair.BuildCheck.Runner/LoggingExtensions/CheckRunnerLoggingExtensions.cs
Labels: none

Cleanup: ProjectXmlLoader.cs
  src/FunFair.BuildCheck.Runner/Services/ProjectXmlLoader.cs
Labels: none

Cleanup: TrackingLogger.cs
  src/FunFair.BuildCheck.Runner/Services/TrackingLogger.cs
Labels: none

Cleanup: GlobalJsonHelpers.cs
  src/FunFair.BuildCheck.SolutionChecks/Helpers/GlobalJsonHelpers.cs
Labels: none

Cleanup: AllProjectsExistLoggingExtensions.cs
  src/FunFair.BuildCheck.SolutionChecks/LoggingExtensions/AllProjectsExistLoggingExtensions.cs
Labels: none

Cleanup: GlobalJsonIsLatestLoggingExtensions.cs
  src/FunFair.BuildCheck.SolutionChecks/LoggingExtensions/GlobalJsonIsLatestLoggingExtensions.cs
Labels: none

Cleanup: NoOrphanedProjectsExistLoggingExtensions.cs
  src/FunFair.BuildCheck.SolutionChecks/LoggingExtensions/NoOrphanedProjectsExistLoggingExtensions.cs
Labels: none

Cleanup: DiagnosticLogger.cs
  src/FunFair.BuildCheck/Services/DiagnosticLogger.cs
Labels: none

Cleanup: FrameworkSettings.cs
  src/FunFair.BuildCheck/Services/FrameworkSettings.cs
Labels: none

Cleanup: ProjectClassifier.cs
  src/FunFair.BuildCheck/Services/ProjectClassifier.cs
Labels: none

Cleanup: ProjectValueHelpersLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/Helpers/LoggingExtensions/ProjectValueHelpersLoggingExtensions.cs
Labels: none

Cleanup: DoesNotUseDotNetCliToolReferenceLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/DoesNotUseDotNetCliToolReferenceLoggingExtensions.cs
Labels: none

Cleanup: HasAppropriateAnalysisPackagesLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/HasAppropriateAnalysisPackagesLoggingExtensions.cs
Labels: none

Cleanup: HasConsistentNuGetPackagesLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/HasConsistentNuGetPackagesLoggingExtensions.cs
Labels: none

Cleanup: MustHaveAnalyzerPackageLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/MustHaveAnalyzerPackageLoggingExtensions.cs
Labels: none

Cleanup: DoesNotUseRootNamespaceLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LoggingExtensions/DoesNotUseRootNamespaceLoggingExtensions.cs
Labels: none

Cleanup: NoPreReleaseNuGetPackagesLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LoggingExtensions/NoPreReleaseNuGetPackagesLoggingExtensions.cs
Labels: none

Cleanup: ProjectsShouldHaveTrimAnalyzerConfiguredPolicyLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LoggingExtensions/ProjectsShouldHaveTrimAnalyzerConfiguredPolicyLoggingExtensions.cs
Labels: none

Cleanup: XmlDocumentationFileProhibitedPolicyLoggingExtensions.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LoggingExtensions/XmlDocumentationFileProhibitedPolicyLoggingExtensions.cs
Labels: none

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.80.1084
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.68.513
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.81.1087
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/docker-build-to-registry/action.yml
  .github/actions/docker-build-to-registry/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/sleet/action.yml
  .github/actions/sleet/action.yml
Labels: none

[Actions] Updated .github/actions/nuget-push-integrated-symbol-feed/actions.yml
  .github/actions/nuget-push-integrated-symbol-feed/actions.yml
Labels: none

[Actions] Updated .github/actions/nuget-push-separate-symbol-feed/actions.yml
  .github/actions/nuget-push-separate-symbol-feed/actions.yml
Labels: none

[Actions] Updated .github/actions/sleet/action.yml
  .github/actions/sleet/action.yml
Labels: none

[Actions] Updated .github/actions/sleet/action.yml
  .github/actions/sleet/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget-push-integrated-symbol-feed/action.yml
  .github/actions/nuget-push-integrated-symbol-feed/action.yml
Labels: none

[Actions] Updated .github/actions/nuget-push-separate-symbol-feed/action.yml
  .github/actions/nuget-push-separate-symbol-feed/action.yml
Labels: none

[Dependencies] Updating Nullable.Extended.Analyzer (Code analysis) to 1.15.6581
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.9.0.115408
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.200
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
