Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests, prepublish

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildCheck":
 - any: [ 'src/FunFair.BuildCheck/**/*' ]
"FunFair.BuildCheck.Helpers":
 - any: [ 'src/FunFair.BuildCheck.Helpers/**/*' ]
"FunFair.BuildCheck.Interfaces":
 - any: [ 'src/FunFair.BuildCheck.Interfaces/**/*' ]
"FunFair.BuildCheck.ProjectChecks":
 - any: [ 'src/FunFair.BuildCheck.ProjectChecks/**/*' ]
"FunFair.BuildCheck.SolutionChecks":
 - any: [ 'src/FunFair.BuildCheck.SolutionChecks/**/*' ]
"FunFair.BuildCheck.Tests":
 - any: [ 'src/FunFair.BuildCheck.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]

Test version
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Test version
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck

Test version
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck

More stupidity
  src/FunFair.BuildCheck/Services/DiagnosticLogger.cs
Labels: FunFair.BuildCheck

huh?
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Test version
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Confusion
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Changelog for 6.3.3
  CHANGELOG.md
Labels: Change Log, Markdown

[FF-1429] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 0.0.8.10
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.8.2334
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[FF-1429] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[FF-1429] Updating Meziantou.Analyzer (Code Analysis) to 1.0.747
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update src/BuildCheck.sln.DotSettings to match the template repo
  src/BuildCheck.sln.DotSettings
Labels: none

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/stale.yml to match the template repo
  .github/workflows/stale.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pr-update.yml to match the template repo
  .github/workflows/pr-update.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[FF-1429] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions
