Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Linters] Updated .github/linters/.hadolint.yaml
  .github/linters/.hadolint.yaml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/database-deploy/action.yml
  .github/actions/database-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/actions/database-deploy/action.yml
  .github/actions/database-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Config] Updated .gitleaks.toml
  .gitleaks.toml
Labels: none

[Actions] Updated .github/actions/docker-setup/action.yml
  .github/actions/docker-setup/action.yml
Labels: none

9.0.100-preview.6.24328.19
  src/global.json
Labels: .NET update

Enabled net 9.0
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project

9.0.100-rc.1.24452.12
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Fixed compile error
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/MustHaveAnalyzerPackageLoggingExtensions.cs
Labels: none

Fixed compile error
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveDuplicateCodeAnalyzerPackage.cs
Labels: none

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
