Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests, prepublish

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildCheck":
 - any: [ 'src/FunFair.BuildCheck/**/*' ]
"FunFair.BuildCheck.Helpers":
 - any: [ 'src/FunFair.BuildCheck.Helpers/**/*' ]
"FunFair.BuildCheck.Interfaces":
 - any: [ 'src/FunFair.BuildCheck.Interfaces/**/*' ]
"FunFair.BuildCheck.ProjectChecks":
 - any: [ 'src/FunFair.BuildCheck.ProjectChecks/**/*' ]
"FunFair.BuildCheck.SolutionChecks":
 - any: [ 'src/FunFair.BuildCheck.SolutionChecks/**/*' ]
"FunFair.BuildCheck.Tests":
 - any: [ 'src/FunFair.BuildCheck.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/npm/action.yml to match the template repo
  .github/actions/npm/action.yml
Labels: none

[Dependencies] - Update .github/actions/sql/action.yml to match the template repo
  .github/actions/sql/action.yml
Labels: none

[SDK] - Updated DotNet SDK to 7.0.202
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/npm/action.yml to match the template repo
  .github/actions/npm/action.yml
Labels: none

[Dependencies] - Update .github/actions/sql/action.yml to match the template repo
  .github/actions/sql/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/ImportCommonProps.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LibrariesShouldBePackablePolicy.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/OnlyExesShouldBePublishablePolicy.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/TargetFrameworkIsSetCorrectlyPolicy.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonIsLatest.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.SolutionChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LibrariesShouldBePackablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/OnlyExesShouldBePublishablePolicy.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustSpecifyCorrectRollforwardPolicy.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
  src/FunFair.BuildCheck/Setup.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileProhibitedPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileRequiredPolicy.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
  src/FunFair.BuildCheck/Setup.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/TargetFrameworkIsSetCorrectlyPolicy.cs
  src/FunFair.BuildCheck/Setup.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.Interfaces/IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveEnumSourceGeneratorAnalyzerPackage.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
  src/FunFair.BuildCheck/Setup.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveAsyncAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveCodecrackerCSharpAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveDuplicateCodeAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveFunFairCodeAnalysisPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveMeziantouAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHavePhilipsMaintainabilityAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveRoslynatorAnalyzersPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSecurityCodeScanAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSmartAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSonarAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveThreadingAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveToStringWithoutOverrideAnalyzerPackage.cs
  src/FunFair.BuildCheck/Program.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck, FunFair.BuildCheck.ProjectChecks

Moving lookup to IRepositorySettings.cs
  src/FunFair.BuildCheck/Services/RepositorySettings.cs
Labels: FunFair.BuildCheck

Source generated logging
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/DoesNotUseDotNetCliToolReference.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/LoggingExtensions/DoesNotUseDotNetCliToolReferenceLoggingExtensions.cs
Labels: FunFair.BuildCheck.ProjectChecks

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/npm/action.yml to match the template repo
  .github/actions/npm/action.yml
Labels: none

[Dependencies] - Update .github/actions/sql/action.yml to match the template repo
  .github/actions/sql/action.yml
Labels: none

Added build status
  README.md
Labels: Read Me, Markdown
