Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests, prepublish

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.54
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.55
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.1.0.70676
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Fixed code analysis issues
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableExesMustHaveRuntimeIdentifiers.cs
Labels: FunFair.BuildCheck.ProjectChecks

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.56
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.2.0.71021
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.1.46
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.1.49
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.6.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Release notes for 474.0.2
  CHANGELOG.md
Labels: Change Log, Markdown

Added analyzer
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

Fixed code analysis issues
  src/CodeAnalysis.ruleset
  src/FunFair.BuildCheck.ProjectChecks/Helpers/ProjectValueHelpers.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/DoesNotUseDotNetCliToolReference.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateNonAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasConsistentNuGetPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveRelatedPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSourceLinkPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotDisableUnexpectedWarnings.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ReferencesNugetPackageOnlyOnce.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ShouldNotReferenceAllMetaPackagesInPackableProjects.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ShouldUseAlternatePackage.cs
  src/FunFair.BuildCheck.ProjectChecks/References/DoesNotReferenceByDll.cs
  src/FunFair.BuildCheck.ProjectChecks/References/LibrariesShouldNotDependOnExecutables.cs
  src/FunFair.BuildCheck.ProjectChecks/References/PackableLibrariesShouldNotDependOnNonPackable.cs
  src/FunFair.BuildCheck.ProjectChecks/References/ReferencedProjectsMustExist.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/DoesNotUseRootNamespace.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/NoPreReleaseNuGetPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/ShouldNotRemoveFromCompilation.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileProhibitedPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/XmlDocumentationFileRequiredPolicy.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonIsLatest.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustSpecifyCorrectRollforwardPolicy.cs
  src/FunFair.BuildCheck/ExecutableVersionInformation.cs
  src/FunFair.BuildCheck/Program.cs
Labels: Static Code Analysis Rules, FunFair.BuildCheck, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks

[Dependencies] - Update src\CodeAnalysis.ruleset to match the template repo
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Cleanup] - Code cleanup on BuildCheck.sln
  src/FunFair.BuildCheck.ProjectChecks/Helpers/ProjectValueHelpers.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
Labels: FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

8.0.100-preview.5.23303.2
  src/global.json
Labels: .NET update

Changelog for 474.0.3
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
  src/global.json
  src/global.json.freeze
Labels: C# Project, .NET update, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Additional metadata
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildCheck":
 - any: [ 'src/FunFair.BuildCheck/**/*' ]
"FunFair.BuildCheck.Helpers":
 - any: [ 'src/FunFair.BuildCheck.Helpers/**/*' ]
"FunFair.BuildCheck.Interfaces":
 - any: [ 'src/FunFair.BuildCheck.Interfaces/**/*' ]
"FunFair.BuildCheck.ProjectChecks":
 - any: [ 'src/FunFair.BuildCheck.ProjectChecks/**/*' ]
"FunFair.BuildCheck.SolutionChecks":
 - any: [ 'src/FunFair.BuildCheck.SolutionChecks/**/*' ]
"FunFair.BuildCheck.Tests":
 - any: [ 'src/FunFair.BuildCheck.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]
