Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests, prepublish

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/create-prs-for-stale-branches.yml to match the template repo
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pull-request.yml to match the template repo
  .github/workflows/pull-request.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-sql.yml to match the template repo
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/reformat-yaml.yml to match the template repo
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.84
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/pr-lint.yml to match the template repo
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/update-labels.yml to match the template repo
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating NSubstitute (Test Infrastructure) to 5.1.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[SDK] - Updated DotNet SDK to 7.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[SDK] - Updated DotNet SDK to 7.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.85
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.9.149
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.0.135
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration.Source.Generation (Code analysis) to 1.1.0.138
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Release notes for 474.0.9
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.10.156
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

SDK - Updated DotNet SDK to 8.0.100-rc.1.23455.8
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

.net 8
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Killed Win10
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck

Generic runtime identifiers
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck

Fixed code analysis issues
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotHaveFxCopAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotReferenceMicrosoftVisualStudioThreading.cs
Labels: FunFair.BuildCheck.ProjectChecks

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.3.138
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Cleanup] - Code cleanup on BuildCheck.sln
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotHaveFxCopAnalyzerPackage.cs
Labels: FunFair.BuildCheck.ProjectChecks

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.10.0.77988
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Release notes for 474.0.10
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.3.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating xunit (Test Infrastructure) to 2.5.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 2.5.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildCheck":
 - any: [ 'src/FunFair.BuildCheck/**/*' ]
"FunFair.BuildCheck.Helpers":
 - any: [ 'src/FunFair.BuildCheck.Helpers/**/*' ]
"FunFair.BuildCheck.Interfaces":
 - any: [ 'src/FunFair.BuildCheck.Interfaces/**/*' ]
"FunFair.BuildCheck.ProjectChecks":
 - any: [ 'src/FunFair.BuildCheck.ProjectChecks/**/*' ]
"FunFair.BuildCheck.SolutionChecks":
 - any: [ 'src/FunFair.BuildCheck.SolutionChecks/**/*' ]
"FunFair.BuildCheck.Tests":
 - any: [ 'src/FunFair.BuildCheck.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]
