Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.71.984
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.57.416
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.74.984
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.190
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.191
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.192
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.193
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.21.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 2.0.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.194
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.8.0.113526
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.4
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.4
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/docker-build-to-registry/action.yml
  .github/actions/docker-build-to-registry/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.203
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.195
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.76.1027
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.266.1250
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.58.459
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
