Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/actions/sql/action.yml
  .github/actions/sql/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-tool/action.yml
  .github/actions/dotnet-tool/action.yml
Labels: none

Switched to new version program
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
  src/FunFair.BuildCheck/Helpers/ExecutableVersionInformation.cs
  src/FunFair.BuildCheck/Program.cs
Labels: C# Project

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

SDK - Updated DotNet SDK to 9.0.100-rc.2.24474.11
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.23.533
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.170
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.8
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.16.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.2
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.69.630
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 8.0.2
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.11.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating NuGet (Versioning policy) to 6.11.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Prohibit package that suddenly caused compile errors in IDE, despite having sponsored it
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ShouldUseCredfetoVersionInformationGeneratorRatherThanThisAssemblyAssemblyInfo.cs
  src/FunFair.BuildCheck.Runner/Setup.cs
Labels: none

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.1.11
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Fixed compile error
  src/FunFair.BuildCheck/Program.cs
Labels: none

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.23.533
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.170
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.8
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.16.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.2
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown
