Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.201
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 2.0.2
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.0.1124
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Fixed code analysis issues
  src/FunFair.BuildCheck.ProjectChecks/Helpers/ProjectValueHelpers.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateNonAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveRelatedPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSourceLinkPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ShouldUseAlternatePackage.cs
  src/FunFair.BuildCheck.ProjectChecks/References/LibrariesShouldNotDependOnExecutables.cs
  src/FunFair.BuildCheck.ProjectChecks/References/PackableLibrariesShouldNotDependOnNonPackable.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/IsTransformWebConfigDisabledShouldBeTrueForWebLibraryProjects.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LibrariesShouldBePackablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/MustSpecifyOutputType.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/OnlyExesShouldBePublishablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableExesMustHaveRuntimeIdentifiers.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableProjectsShouldEnableRequestDelegateGeneratorPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableProjectsThatPassTrimAnalyzerShouldHavePublishedTrimmedSetPolicy.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonIsLatest.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustSpecifyCorrectRollForwardPolicy.cs
  src/FunFair.BuildCheck/Services/FrameworkSettings.cs
  src/FunFair.BuildCheck/Services/ProjectClassifier.cs
Labels: none

Simplifying
  src/FunFair.BuildCheck.ProjectChecks/Settings/DoesNotUseRootNamespace.cs
Labels: none

Cleanup: GlobalJsonIsLatest.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonIsLatest.cs
Labels: none

Cleanup: GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
Labels: none

Cleanup: GlobalJsonMustSpecifyCorrectRollForwardPolicy.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustSpecifyCorrectRollForwardPolicy.cs
Labels: none

Cleanup: ProjectValueHelpers.cs
  src/FunFair.BuildCheck.ProjectChecks/Helpers/ProjectValueHelpers.cs
Labels: none

Cleanup: HasAppropriateAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateAnalysisPackages.cs
Labels: none

Cleanup: HasAppropriateNonAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateNonAnalysisPackages.cs
Labels: none

Cleanup: MustHaveAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveRelatedPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveRelatedPackage.cs
Labels: none

Cleanup: MustHaveSourceLinkPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSourceLinkPackage.cs
Labels: none

Cleanup: ShouldUseAlternatePackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ShouldUseAlternatePackage.cs
Labels: none

Cleanup: LibrariesShouldNotDependOnExecutables.cs
  src/FunFair.BuildCheck.ProjectChecks/References/LibrariesShouldNotDependOnExecutables.cs
Labels: none

Cleanup: PackableLibrariesShouldNotDependOnNonPackable.cs
  src/FunFair.BuildCheck.ProjectChecks/References/PackableLibrariesShouldNotDependOnNonPackable.cs
Labels: none

Cleanup: IsTransformWebConfigDisabledShouldBeTrueForWebLibraryProjects.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/IsTransformWebConfigDisabledShouldBeTrueForWebLibraryProjects.cs
Labels: none

Cleanup: LibrariesShouldBePackablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LibrariesShouldBePackablePolicy.cs
Labels: none

Cleanup: MustSpecifyOutputType.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/MustSpecifyOutputType.cs
Labels: none

Cleanup: OnlyExesShouldBePublishablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/OnlyExesShouldBePublishablePolicy.cs
Labels: none

Cleanup: PublishableExesMustHaveRuntimeIdentifiers.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableExesMustHaveRuntimeIdentifiers.cs
Labels: none

Cleanup: PublishableProjectsShouldEnableRequestDelegateGeneratorPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableProjectsShouldEnableRequestDelegateGeneratorPolicy.cs
Labels: none

Cleanup: PublishableProjectsThatPassTrimAnalyzerShouldHavePublishedTrimmedSetPolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableProjectsThatPassTrimAnalyzerShouldHavePublishedTrimmedSetPolicy.cs
Labels: none

Cleanup: FrameworkSettings.cs
  src/FunFair.BuildCheck/Services/FrameworkSettings.cs
Labels: none

Cleanup: ProjectClassifier.cs
  src/FunFair.BuildCheck/Services/ProjectClassifier.cs
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/save-secret-as-file/action.yml
  .github/actions/save-secret-as-file/action.yml
Labels: none

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.0.2
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/save-secret-as-file/action.yml
  .github/actions/save-secret-as-file/action.yml
Labels: none

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.5
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.5
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
Labels: C# Project

[Dependencies] Updating NuGet (Versioning policy) to 6.14.0
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.300
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown
