Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.79.1071
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.66.501
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.199
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating CSharpier.MSBuild (C# Code reformatting) to 1.0.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Removed CSharpier.MsBuild
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveCsharpierPackage.cs
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.Runner/Setup.cs
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 474.1.2
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.67.507
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

Cleanup: PathHelpers.cs
  src/FunFair.BuildCheck.Helpers/PathHelpers.cs
Labels: none

Cleanup: CheckRunner.cs
  src/FunFair.BuildCheck.Runner/CheckRunner.cs
Labels: none

Cleanup: RepositorySettings.cs
  src/FunFair.BuildCheck.Runner/RepositorySettings.cs
Labels: none

Cleanup: SourceGenerated.cs
  src/FunFair.BuildCheck.Runner/SourceGenerated.cs
Labels: none

Cleanup: SourceGenerated.net6.cs
  src/FunFair.BuildCheck.Runner/SourceGenerated.net6.cs
Labels: none

Cleanup: Setup.cs
  src/FunFair.BuildCheck.Runner/Setup.cs
Labels: none

Cleanup: AllProjectsExist.cs
  src/FunFair.BuildCheck.SolutionChecks/AllProjectsExist.cs
Labels: none

Cleanup: GlobalJsonIsLatest.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonIsLatest.cs
Labels: none

Cleanup: GlobalJsonMustNotAllowPreRelease.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustNotAllowPreRelease.cs
Labels: none

Cleanup: GlobalJsonMustSpecifyCorrectRollForwardPolicy.cs
  src/FunFair.BuildCheck.SolutionChecks/GlobalJsonMustSpecifyCorrectRollForwardPolicy.cs
Labels: none

Cleanup: NoOrphanedProjectsExist.cs
  src/FunFair.BuildCheck.SolutionChecks/NoOrphanedProjectsExist.cs
Labels: none

Cleanup: Program.cs
  src/FunFair.BuildCheck/Program.cs
Labels: none

Cleanup: ProjectValueHelpers.cs
  src/FunFair.BuildCheck.ProjectChecks/Helpers/ProjectValueHelpers.cs
Labels: none

Cleanup: DoesNotUseDotNetCliToolReference.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/DoesNotUseDotNetCliToolReference.cs
Labels: none

Cleanup: ElementConfiguration.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/ElementConfiguration.cs
Labels: none

Cleanup: HasAppropriateAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateAnalysisPackages.cs
Labels: none

Cleanup: HasAppropriateNonAnalysisPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasAppropriateNonAnalysisPackages.cs
Labels: none

Cleanup: HasConsistentNuGetPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/HasConsistentNuGetPackages.cs
Labels: none

Cleanup: MustHaveAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveDuplicateCodeAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveDuplicateCodeAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveMicrosoftSbomTargetsAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveMicrosoftSbomTargetsAnalyzerPackage.cs
Labels: none

Cleanup: MustHavePhilipsMaintainabilityAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHavePhilipsMaintainabilityAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveRelatedPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveRelatedPackage.cs
Labels: none

Cleanup: MustHaveSecurityCodeScanAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSecurityCodeScanAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveSmartAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSmartAnalyzerPackage.cs
Labels: none

Cleanup: MustHaveSourceLinkPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveSourceLinkPackage.cs
Labels: none

Cleanup: MustHaveThreadingAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustHaveThreadingAnalyzerPackage.cs
Labels: none

Cleanup: MustNotDisableUnexpectedWarnings.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotDisableUnexpectedWarnings.cs
Labels: none

Cleanup: MustNotHaveFxCopAnalyzerPackage.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotHaveFxCopAnalyzerPackage.cs
Labels: none

Cleanup: MustNotReferenceObsoleteAspNetPackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotReferenceObsoleteAspNetPackages.cs
Labels: none

Cleanup: MustNotReferencePackages.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotReferencePackages.cs
Labels: none

Cleanup: MustNotReferenceTeamCityTestAdapter.cs
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotReferenceTeamCityTestAdapter.cs
Labels: none
