Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, funfair-buildcheck, funfair-buildcheck-helpers, funfair-buildcheck-interfaces, funfair-buildcheck-projectchecks, funfair-buildcheck-runner, funfair-buildcheck-runner-tests, funfair-buildcheck-solutionchecks, funfair-buildcheck-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"funfair-buildcheck":
 - any: [ 'src/$FunFair.BuildCheck/**/*' ]
"funfair-buildcheck-helpers":
 - any: [ 'src/$FunFair.BuildCheck.Helpers/**/*' ]
"funfair-buildcheck-interfaces":
 - any: [ 'src/$FunFair.BuildCheck.Interfaces/**/*' ]
"funfair-buildcheck-projectchecks":
 - any: [ 'src/$FunFair.BuildCheck.ProjectChecks/**/*' ]
"funfair-buildcheck-runner":
 - any: [ 'src/$FunFair.BuildCheck.Runner/**/*' ]
"funfair-buildcheck-runner-tests":
 - any: [ 'src/$FunFair.BuildCheck.Runner.Tests/**/*' ]
"funfair-buildcheck-solutionchecks":
 - any: [ 'src/$FunFair.BuildCheck.SolutionChecks/**/*' ]
"funfair-buildcheck-tests":
 - any: [ 'src/$FunFair.BuildCheck.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.63.604
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.64.606
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.31.0.96804
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating NuGet (Versioning policy) to 6.10.2
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.11.20
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.32.0.97167
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating NuGet (Versioning policy) to 6.11.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.11.20
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.32.0.97167
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating NuGet (Versioning policy) to 6.11.0
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.20.512
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.65.613
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.21.517
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.66.617
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.11.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

Fixed code analysis issues
  src/FunFair.BuildCheck.ProjectChecks/ReferencedPackages/MustNotDisableUnexpectedWarnings.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/LibrariesShouldBePackablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/OnlyExesShouldBePublishablePolicy.cs
  src/FunFair.BuildCheck.ProjectChecks/Settings/PublishableExesMustHaveRuntimeIdentifiers.cs
  src/FunFair.BuildCheck.Runner/CheckRunner.cs
  src/FunFair.BuildCheck.SolutionChecks/AllProjectsExist.cs
Labels: none

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.22.521
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Runner/FunFair.BuildCheck.Runner.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.67.620
  CHANGELOG.md
  src/FunFair.BuildCheck.Runner.Tests/FunFair.BuildCheck.Runner.Tests.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions
