Repository funfair-tech/funfair-build-check, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests, prepublish

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet-publish/action.yml to match the template repo
  .github/actions/dotnet-publish/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

MyGet has left the building
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build-tools/action.yml to match the template repo
  .github/actions/build-tools/action.yml
Labels: none

[Dependencies] - Update .github/workflows/build-and-publish-pre-release.yml to match the template repo
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/build-and-publish-release.yml to match the template repo
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] - Update .github/actions/build/action.yml to match the template repo
  .github/actions/build/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet-publish/action.yml to match the template repo
  .github/actions/dotnet-publish/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

[Dependencies] - Update .github/actions/dotnet/action.yml to match the template repo
  .github/actions/dotnet/action.yml
Labels: none

Fixing compile error
  src/FunFair.BuildCheck.ProjectChecks/Settings/NuGetAuditPolicy.cs
Labels: FunFair.BuildCheck.ProjectChecks

Missing metadata
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

Changelog for 474.0.4
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 7.0.1
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Helpers

[Dependencies] Updating NuGet (Versioning policy) to 6.6.1
  CHANGELOG.md
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.ProjectChecks

Release notes for 474.0.5
  CHANGELOG.md
Labels: Change Log, Markdown

[Cleanup] - Code cleanup on BuildCheck.sln
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Cleanup] - Code cleanup on BuildCheck.sln
  src/FunFair.BuildCheck/Program.cs
Labels: FunFair.BuildCheck

[Dependencies] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

[Dependencies] - Update .github/workflows/dependabot.yml to match the template repo
  .github/workflows/dependabot.yml
Labels: github-actions

Removed freeze
  src/global.json.freeze
Labels: none

[SDK] - Updated DotNet SDK to 7.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.1.87
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.81
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.4.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.7.0.75501
  CHANGELOG.md
  src/FunFair.BuildCheck.Helpers/FunFair.BuildCheck.Helpers.csproj
  src/FunFair.BuildCheck.Interfaces/FunFair.BuildCheck.Interfaces.csproj
  src/FunFair.BuildCheck.ProjectChecks/FunFair.BuildCheck.ProjectChecks.csproj
  src/FunFair.BuildCheck.SolutionChecks/FunFair.BuildCheck.SolutionChecks.csproj
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck, FunFair.BuildCheck.Helpers, FunFair.BuildCheck.Interfaces, FunFair.BuildCheck.ProjectChecks, FunFair.BuildCheck.SolutionChecks, FunFair.BuildCheck.Tests

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.2.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.7.0
  CHANGELOG.md
  src/FunFair.BuildCheck.Tests/FunFair.BuildCheck.Tests.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck.Tests

[Dependencies] Updating NonBlocking (Non-blocking concurrent collections) to 2.1.2
  CHANGELOG.md
  src/FunFair.BuildCheck/FunFair.BuildCheck.csproj
Labels: C# Project, Change Log, Markdown, FunFair.BuildCheck

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"FunFair.BuildCheck":
 - any: [ 'src/FunFair.BuildCheck/**/*' ]
"FunFair.BuildCheck.Helpers":
 - any: [ 'src/FunFair.BuildCheck.Helpers/**/*' ]
"FunFair.BuildCheck.Interfaces":
 - any: [ 'src/FunFair.BuildCheck.Interfaces/**/*' ]
"FunFair.BuildCheck.ProjectChecks":
 - any: [ 'src/FunFair.BuildCheck.ProjectChecks/**/*' ]
"FunFair.BuildCheck.SolutionChecks":
 - any: [ 'src/FunFair.BuildCheck.SolutionChecks/**/*' ]
"FunFair.BuildCheck.Tests":
 - any: [ 'src/FunFair.BuildCheck.Tests/**/*' ]
"prepublish":
 - any: [ 'src/prepublish/**/*' ]
